*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif;
}
header{
    padding-left: 15vw;
    padding-right: 15vw;
    height: 6em;
    display:flex;
    align-items: center;
    border-bottom: #ddd 1px solid;
}
nav{
    padding-left: 15vw;
    padding-right: 15vw;
    height: 3em;
    display: flex;
    border-bottom: #ddd 1px solid;
    font-weight: 700;
}
.nawigacja{
    text-align: center;
    padding: 1em;
    border-left: #ddd 1px solid;
    cursor: pointer;
}
.nawigacja:hover{
    background-color: #ddd;
}
main .info{
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 4vw;
    font-size: 3.5em;
    font-weight: bolder;
}
main .arrows{
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 30px;
}
main .photo{
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 50px;
}
main article{
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 2vw;
    font-size: 1.5em;
}
aside{
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 1em;
    height:10em;
    border: #ddd 1px solid;
}